{% extends "base.html" %}

{% block title %} World Wide Web is awesome {% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Welcome! </h2>
      <h2>Take a look into awesome World Wide Web</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        <img src="http://upload.wikimedia.org/wikipedia/commons/d/d5/NOAA_Internet_example.png" class="img-responsive">
        <br/>
        {% if referral_id %}
          <p class="bg-info">Tracking ID: <code>{{ referral_id }}</code></p>
        {% endif %}
        <hr/>
      </div>
    </div>
  </div>

</div>

{% endblock content %}